* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
  
  }
  
  
  .main-container {
    background-color: #080808;
  }
  
  .container-fluid {
    background-color: black;
  }
  
  .navbar a:hover {
    color: #fde56a;
  }
  
  .nav-item a {
    color: white;
  
  }
  
  .nav-item a::first-letter {
    text-transform: capitalize;
  }
  
  .navbar-brand {
    color: #fff;
  }
  
  .inner-wrapper {
    background-color: #f0ebe5;
    padding: 70px;
  }
  
  .container {
    text-align: center;
    color: #d87d70;
    margin-top: 10px;
  }
  
  .container p {
    color: #fbf8f8;
  }
  
  .content {
    background-color: #262626;
    padding: 40px;
    margin: 0% 60px
  }
  
  p {
    color: #fdfdfc;
    margin: 10PX 0px;
  }
  
  h3 {
    color: #d87d70;
  }
  
  a {
    color: #fff;
  }
  
  .box {
    background-color: #d41010;
    margin: 20px auto;
    padding: 50px 0px;
    max-width: 700px;
  }
  
  .box p {
    font-size: 14px;
    color: #141414;
  }
  
  .container h3 {
    font-size: 25px;
    font-weight: bold;
    color: #d87d70;
    letter-spacing: 1px;
  }
  
  .container a {
    font-size: 10px;
  }
  
  .subscribe-box {
    position: relative;
    max-width: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .subscribe-box input {
    flex: 1;
    padding: 10px;
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    color: #050505;
    outline: none;
    font-size: 16px;
  }
  
  .subscribe-box button {
    padding: 5px 19px;
    background-color: #050505;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .subscribe-box button:hover {
    background-color: #333;
  }
  
  .subscribe-box label {
    position: absolute;
    left: 0%;
    top: 10px;
    color: rgb(13, 13, 13);
    pointer-events: none;
    transition: 0.3s ease;
  }
  
  .subscribe-box input:focus+label,
  .subscribe-box input:valid+label {
    top: -10px;
    font-size: 12px;
    color: #050505;
  }
  
  .footer-line {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: #080808;
    margin: 10px 0;
  }
  .sidebar{
    display: flex;
    justify-content: end;
  
  }
  
  /* .social-icon {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin-left: 0%;
    width: 100%;
    text-align: center;
  }
  .social-icon i{
    color: #d87d70;
    line-height: 30px;
  } */