* {

    padding: 0;
  
  
    margin: 0;
  
  
    box-sizing: border-box;
  
  
  }
  
  body {
  
  
    width: 100%;
  
  
    height: 100vh;
  
  
    display: flex;
  
  
    justify-content: center;
  
  
    align-items: center;
  
  }
   
  .img-container {
  
  
    width: 200px;
  
  
    height: 200px;
  
  
    overflow: hidden;  
  
  }
   
  .img-container-2 {
  
  
    width: 100px;
  
  
    height: 100px;
  
  
    overflow: hidden;
  
  }

  img {
  
  
    width: 100%;


    height: 100%;


    border: none;


    object-fit: cover;

  }
  
  
  table {
  
  
    border-collapse: collapse;
  
  
  }
  
  
  td {
  
  
    width: 33px;
  
  
    height: 33px;
  
  
    border: 1px solid black;
  
  
  }
  
  .container-type-1,.container-type-2 {
  
  
    display: flex;
  
  
    justify-content: center;
  
  
    align-items: center;
  
  
  }
   
  .box {
  
  
    width: 200px;
  
  
    height: 200px;
  
  
    background-color: red;
  
  
    display: flex;
  
  
    justify-content: center;
  
  
    align-items: center;
  
  
  }
  
  
  .inner {
  
  
    width: 70%;
  
  
    height: 70%;
  
  
    background-color: white;
  
  
    display: flex;
  
  
    flex-wrap: wrap;
  
  
    justify-content: space-around;
  
  
    align-items: center;
  }

  .board{  

    padding: 25px;

    border: 6px solid transparent;

    background: 

    linear-gradient(45deg, #E53935, #F4C430, #1E88E5, #1E8F3E) ;

    box-shadow: 0 10px 30px rgba(0,0,0,0.4);

  }

  .dice{
      position: absolute;
      width: 15%;

  }
  