.head{
    color: rgb(0, 119, 255);
    text-shadow: 2px 2px 2px rgb(19, 124, 209);

}
.para{
       color: rgb(0, 119, 255);

}
span{
    color:  rgb(0, 119, 255); ;
}
.head2{
    color:  rgb(0, 119, 255); ;
}
.p2{
    text-align: right;
}