* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    background: #111;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box input {
    padding: 6px;
}

.search-box button {
    padding: 6px 10px;
}

/* Hero */
.hero {
    height: 350px;
    background: url('https://images.unsplash.com/photo-1610897534349-7759782118b9?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8d2F0Y2glMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww');
    object-fit: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.6);
    padding: 30px;
}

/* Products */
.products {
    padding: 50px;
    text-align: center;
}

.product-box {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

/* Reviews */
.reviews {
    padding: 50px;
    background: #f5f5f5;
    text-align: center;
}

.review-box {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.review {
    background: white;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}

/* Sale */
.sale {
    background: #111;
    color: white;
    padding: 50px;
    text-align: center;
}

.sale button {
    padding: 10px 25px;
    margin-top: 15px;
}

/* Footer */
.footer {
    background: #222;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}
