*{
    margin: 0%;
    padding: 0%;
}
.main{
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 10% 20% 0% ;
    
}
.main2{
     display: flex; 
     justify-content: space-around;
    width: 100%;
}
.img{
  
    height: 100%;
   padding: 20px 20px;
}
.butt2{
    
    font-size:xx-small;
    padding: 5px;
    width: 100%;
   background-color: rgb(236, 233, 233);
 
}
.butt{
    padding: 5px;
    width: 100%;
    background-color: rgb(43, 32, 196);
    color: white;
    border-radius: 10px;
}
.para{
    text-align: center;
    color: gray;
   
}
.p2{
    text-align: center;
}
span{
    color: rgb(22, 62, 172);
}
.nav{
    color: gray;
    font-size: small;
    padding: 10px 10%;
    gap: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.nav2{
    color: gray;
    color: gray;
    font-size: small;
    display:flex ;
    justify-content: center;
    gap: 50px;
}