*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}
body{
    height: 100vh;
}

.nav{
    background:black;
    color:white;
    padding:15px 30px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.search{
    width:300px;
    padding:6px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:15px;
    font-size:14px;
}

.product{
    display:flex;
    gap:50px;
    padding:50px;
    background:#f5f6f8;
}

.images{
    width:40%;
}

.main-img{
    width:100%;
    border-radius:10px;
}

.images2{
    display:flex;
    gap:10px;
    margin-top:15px;
}

.images2 img{
    width:60px;
    border:1px solid #ccc;
    cursor:pointer;
}

.details{
    width:40%;
    background:white;
    padding:30px;
    border-radius:10px;
}

.line{
    color:gray;
    margin:10px 0;
}

.price{
    font-size:22px;
    margin:15px 0;
}

.price span{
    text-decoration:line-through;
    color:gray;
    font-size:16px;
}

.price b{
    color:green;
    font-size:14px;
}

.para{
    margin:15px 0;
    color:#444;
}

.rating{
    margin-bottom:15px;
}


.butt{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:20px;
}

.qty button{
    padding:5px 10px;
}


.add{
    width:100%;
    padding:12px;
    background:#0b2a4a;
    color:white;
    border:none;
    border-radius:5px;
    margin-bottom:20px;
}


.offer{
    background:#f0f4ff;
    padding:15px;
    border-radius:8px;
    text-align:center;
}

.signup{
    margin-top:10px;
    padding:8px 15px;
}
