*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(135deg, #0E0920, #200C2F);
   color: white;
     padding-left: 20%;
    padding-top: 150px;
}
.main{
    display: flex;
    gap: 150px;
}
.first{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: rgba(240, 236, 236, 0.5);
   width: 160px;
   padding: 5px;
   border-radius:15px ;
   
}
h1{
    font-size: 48px;
    font-weight: 700;
    -webkit-background-clip: text;
   
}
span{
    
        font-size: 48px;
        font-weight: 700;
        background: linear-gradient(90deg, #7B2B8C, #F06AA6);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
          }
          .card{
            border: 8px solid #2F2F2F;
             margin-bottom: 20px;
              background-color: white;
              color: black;
              width: 35.5%;
              border-radius: 10px;
          
           
          }
          .sec{
              margin-top: 70px;
          }
          .c2{
            padding: 10px;
          }
          .para{
              color: gray;
          }
          .third{
              display: flex;
              gap: 15px;
          }
          .img{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }
          .img2{
              border-radius: 20px;
          }
          